html,
body {
    height: 100%;
    /* korkeus koko ikkuna*/
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*ylhäältä alas*/
    overflow-x: hidden;
    /*vaakarullaus estyy*/
    overflow-y: auto;
    /*pystyrullaus toimii*/
    font-family: 'Roboto Mono', monospace;
    color: #3E2723;
    /* syvempi ruskea tekstille */
}

.top {
    background-color: #E3001B;
}

.top h1,
.top h4 {
    color: #ffffff !important;
    letter-spacing: 2px;
    font-family: 'Orbitron', sans-serif;
}


.body-container {
    flex: 1;
    width: 100%;
    /* kaikki tila navin ja footerin välissä*/
    background-image: url("pexels-theshuttervision-15447298.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.links,
.content {
    margin: 50px;
    margin-bottom: 15px;
}

.navbar-custom {
    background-color: black;
    /* taustan väri */
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
    /* tekstin väri */
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-custom .navbar-nav .nav-link {
    color: lightblue;
    /* linkin väri */
}

.navbar-custom .nav-item.active .nav-link {
    color: #4E342E;
    font-weight: bold;
    /* aktiivisena */
}

.navbar-custom .nav-item:hover .nav-link {
    color: yellow;
    /* hover-linkin väri */
}

.nav-link.active {
    color: yellow !important;
    /* Scroll-spy kohde aktiivinen */
}

.list-group a {
    color: #4E342E;
    font-weight: bold;
}

.list-group a:hover {
    color: red;
    font-weight: bold;
}

a {
    color: #4E342E;
    font-weight: bold;
}

a:hover {
    color: red;
    font-weight: bold;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(161,136,127,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    /* hamburgerin väri */
}

.custom-toggler.navbar-toggler {
    border-color: #A1887F;
}

.nav-item .dropdown-menu a:hover {
    color: #333 !important;
    background: #FFDEAD !important;
    cursor: pointer;
}

.nav-item .dropdown-menu {
    background: #FAF0E6 !important;
}

.nav-link {
    color: #FFDEAD;
}


.info-container .nav-link {
    color: #3E2723;
    font-weight: bold;
}

.info-container .card {
    margin-bottom: 15px;
}

.container .nav-link {
    color: #6D4C41;
    font-weight: bold;
}


.card-link:hover {
    color: yellow;
    /* hover-linkin väri */
}

.nav-item:hover .nav-link {
    color: red;
    /* hover-linkin väri */
}

.info-container {
    background-color: #FDF5E6;
    padding: 40px 20px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.card-container {
    background-color: #FDF5E6;
    padding: 40px 20px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.card {
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    border-style: solid;
    margin: 5px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card-body,
.card-footer {
    background-color: #f0f0f0;
}

.card-body .nav-link:hover {
    color: red;
}

.card-img-top {
    border-bottom-style: solid;
}

.linkcard .card-link {
    color: #6D4C41;
    font-weight: bold;
}


.buttonsend,
.buttonartist {
    background-color: lightyellow !important;
    border-color: lightgray !important;
    color: #333;
    font-weight: bold;
    border-radius: 10px;
    border-width: 3px;
    margin-bottom: 5px;
}

.buttonsend:hover {
    color: red;
}

.buttonartist:hover {
    color: red;
}


.input-group-text {
    background-color: lightyellow;
    border-color: lightgray;
    box-shadow: 0 0 0 0.2rem lightgray;
    /*lomakekentän etuikonin väri ja kehys*/
}

.form-control {
    background-color: lightyellow;
    border-color: lightgray;
    box-shadow: 0 0 0 0.2rem lightgray;
    /*lomakekentän väri ja kehys*/
}

.form-control:focus {
    background-color: lightyellow;
    border-color: red;
    box-shadow: 0 0 0 0.2rem red;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    color: #4E342E;
}

p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

.footer {
    text-align: center;
    background-color: #E3001B;
    color: white;
    padding: 15px 0;
}