.navbar-custom {
    background-color: #6D4C41;
    /* taustan väri */
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FFDEAD;
    /* tekstin väri */
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-custom .navbar-nav .nav-link {
    color: #FAF0E6;
    /* linkin väri */
}

.navbar-custom .nav-item.active .nav-link {
    color: #4E342E;
    font-weight: bold;
    /* aktiivisena */
}

.navbar-custom .nav-item:hover .nav-link {
    color: #FFDEAD;
    /* hover-linkin väri */
}

.nav-link.active {
    color: #FFDEAD !important;
    /* Scroll-spy kohde aktiivinen */
}

.nav-item .dropdown-menu .dropdown-item.active,
.nav-item .dropdown-menu .dropdown-item:active {
    background-color: #FFDEAD !important;
    /* haluamasi väri */
    color: #333 !important;
    /* tekstin väri */
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(161,136,127,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    /* hamburgerin väri */
}

.custom-toggler.navbar-toggler {
    border-color: #A1887F;
}

.nav-item .dropdown-menu a:hover {
    color: #333 !important;
    background: #FFDEAD !important;
    cursor: pointer;
}

.nav-item .dropdown-menu {
    background: #FAF0E6 !important;
}

.container {
    background-color: #FDF5E6;
    margin-top: 40px;
    padding: 40px 30px;
    /*ylä ja ala 40, sivut 30*/
}

.toteutus {
    text-align: left;
    width: 500px;
    padding: 25px;
    box-sizing: border-box;
    background-color: snow;
}

.saa {
    text-align: left;
    width: 500px;
    padding: 25px;
    box-sizing: border-box;
    background-color: snow;
}

.toteutus img {
    width: 80%;
    /* koko palstan leveys */
    max-width: 500px;
    height: auto;
    display: block;
    /* ylimääräinen tila pois ympäriltä*/
}

h1 {
    padding-bottom: 10px;
}

h4 {
    text-align: center;
}